<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.ucr.tutoticos">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".act_materia"
            android:exported="true" />
        <activity
            android:name=".act_horario"
            android:exported="true" />
        <activity
            android:name=".act_Info_tutor"
            android:exported="true" />
        <activity
            android:name=".act_registroTutor"
            android:exported="true" />
        <activity
            android:name=".act_pantalla_principal"
            android:exported="true" />
        <activity
            android:name=".act_datos_principales"
            android:exported="true" />
        <activity
            android:name=".act_tipo_usuario"
            android:exported="true" />
        <activity
            android:name=".act_registro"
            android:exported="true" />
        <activity
            android:name=".act_perfiltutor"
            android:exported="true" />
        <activity
            android:name=".act_iniciosesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>